.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    background-color: var(--main-bg-color);
    color: white;
    padding: 3px 12px;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}
.m-1{
    margin: 2px 0px;
    text-align: center;
    color: rgba(69, 69, 69, 0.999);
}